body {
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%
}

svg {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 900;
    font-style: italic;
    font-family: "Nunito Sans","Helvetica Neue","Calibri","Arial",sans-serif;
    line-height: 1.2;
}

p {
    font-weight: 600;
    font-family: "Nunito Sans","Helvetica Neue","Calibri","Arial",sans-serif;
    line-height: 1.2;
}

.upper-row {
    width: 100%;
    display: flex;
    flex: 1;
}

.content {
    padding-top: 2rem;
    width: 30%
}

a {
    text-decoration: none;
}