body {
    background-color: #f0f0f0;
    margin: 0;
}

svg {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 900;
    font-style: italic;
    font-family: "Nunito Sans","Helvetica Neue","Calibri","Arial",sans-serif;
    line-height: 1.2;
}

p {
    font-weight: 600;
    font-family: "Nunito Sans","Helvetica Neue","Calibri","Arial",sans-serif;
    line-height: 1.2;
}

.content {
    padding: 3rem;
    left: 5rem;
    right: 15rem;
    position: fixed;
}

a {
    text-decoration: none;
}