.water {
    height: calc(100vh - 10rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 5rem;
}

.water-main {
    width: 100%;
    height: calc(100vh - 15rem);
}

.water-upper {
    display: flex;
    flex: 1;
    right: 0;
}

.water-upper-corner {
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    vertical-align: top;
    padding-left: 4px;
}

.water-lower {
    height: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
}

.water-lower-corner {
    height: 5rem;
    width: 5rem;
}

.water-lower-body {
    height: 5rem;
    flex: 1;
}

@media (max-width: 768px) {
    .water-main {
        display: none;
    }
    
    .water-lower {
        display: none;
    }
    
    .water {
        padding-bottom: 0;
    }
    
    .water-upper-corner {
        padding-left: 0;
        margin-left: auto;
    }
}