.water {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 5rem;
}

.water-main {
    flex: 1;
}

.water-upper {
    display: flex;
    flex: 1;
    right: 0;
}

.water-upper-corner {
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    vertical-align: top;
}

.water-lower {
    height: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
}

.water-lower-corner {
    height: 5rem;
    width: 5rem;
}

.water-lower-body {
    height: 5rem;
    flex: 1;
}